@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

h1{
    text-align: center;
}

body{
    font-family: sans-serif;
}

img{
    margin: 5px;
    height: 75px;
    width: auto;
}

input {
    font-size: 12px;
    border-width: thin;
    width: 85%;
    position: absolute;
    bottom: 5px;
    border-radius: 15px;
}


button {
    border: none;
    border-radius: 15px;
    background-color: gold;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.to {
    font-size: 12px;
    text-align: right;
    position: relative;
    max-width: 25em;
    background-color: dodgerblue;
    color: white;
    border-radius: 15px;
    padding: 10px;
    float: right;
    margin: 5px;
}

.from {
    font-size: 12px;
    text-align: left;
    position: relative;
    max-width: 25em;
    background-color: gold;
    color: black;
    border-radius: 15px;
    padding: 10px;
    float: left;
    margin: 5px;
}

.appHeader {
    position: relative;
    max-width: 250px;
    vertical-align: bottom;
    color: black;
    border-radius: 15px;
    padding: 5px;
}

.appContainer {
    position: relative;
    bottom: 20px;
    right: 20px;
    max-width: 250px;
    min-width: 250px;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    background: linear-gradient(180deg, rgba(0,164,196,1) 0%, rgba(255,255,255,1) 75%);
    color: black;
    border-radius: 15px;
    padding: 2.5px;
    box-shadow: 1px 1px 2.5px 0.5px rgba(0,0,0,.8);
}

.chatContainer {
    position: relative;
    top: 10px;
    height: auto;
    max-height: 90%;
    width: 90%;
    margin: auto;
    color: black;
    border-radius: 15px;
    padding: 2.5px;
}

.appPosition {
    position: absolute;
    bottom: 20px;
    right: 5px;
    height: 70%;
    width: 20%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: #389ACF;
    border-radius: 15px;
}